* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  text-align: center;
  font-size: 25px;
  margin: 100px auto;
  width: 900px;
  height: 400px;
}
