* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: white;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding: 0px 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav a:hover {
  color: blue;
}
.collageName {
  font-weight: bold;
  color: rgb(29, 29, 255);
  font-size: 25px;
}
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: azure;
  width: 250px;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}
.menuHide {
  display: none;
}

/* FIRST SECTION CODE - HOME  */
#home {
  background-color: rgb(29, 29, 247);
  color: white;
  padding: 50px 0px;
  text-align: center;
}
#home h3 {
  padding-bottom: 20px;
  font-size: 40px;
}
#home p {
  font-size: 20px;
}

/* SECOND SECTION CODE - ABOUT  */
#about {
  padding: 70px 0px;
  text-align: center;
}
#about h3 {
  padding-bottom: 20px;
  font-size: 30px;
  color: black;
}
#about p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.68);
}

/* THIRD SECTION CODE - NOTICE  */
#third {
  background-color: gainsboro;
  padding: 50px 0;
}
#third h3 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}
.parent-third {
  background-color: white;
  border-radius: 30px;
  max-width: 1100px;
  width: 90%;
  padding: 30px 20px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parent-third ul li {
  list-style-position: inside;
  padding: 15px 0;
}
#fourth h3 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}
/* FOURTH SECTION CODE - CONTACT  */

#fourth {
  background-color: whitesmoke;
  padding: 50px 0;
}
.parent-fourth {
  background-color: white;
  border-radius: 30px;
  max-width: 1100px;
  width: 90%;
  padding: 30px 20px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parent-fourth p {
  padding: 10px 0;
  font-weight: bold;
}
/* FOOTER SECTION CODE START  */

footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* RESPONSIVE CODE START  */
@media (max-width: 480px) {
  /* Mobile styles */
  .menuHide {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
  .mg-top-ul {
    padding-top: 10px;
  }
  .collageName {
    text-wrap: nowrap;
    font-size: 20px;
  }
  .sideBar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* Tablet styles */
  .menuHide {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
  .parent-third ul li {
    text-wrap: nowrap;
    font-size: 14px;
  }
}
