* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: white;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding: 0px 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav a:hover {
  color: blue;
}
.collageName {
  font-weight: bold;
  color: rgb(29, 29, 255);
  font-size: 25px;
}
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: azure;
  width: 250px;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}
.menuHide {
  display: none;
}
.pFixed {
  /* position: static; */
}

/* RESPONSIVE CODE START  */
@media (max-width: 480px) {
  /* Mobile styles */
  .menuHide {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
  .mg-top-ul {
    padding-top: 10px;
  }
  .collageName {
    text-wrap: nowrap;
    font-size: 20px;
  }
  .sideBar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* Tablet styles */
  .menuHide {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
}
