* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(34, 34, 119);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.singleDivOne {
  background-color: crimson;
}
.inputDiv {
  padding: 40px 30px 60px 60px;
}
.inputDiv h2 {
  padding: 8px 0px;
  font-size: 18px;
}
.inputDiv input {
  padding: 8px 10px;
  margin: 8px 0;
  width: 80%;
  border: none;
  outline: none;
}
.caBtn {
  width: 80%;
  margin-top: 15px;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
}
