* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 100vh;
}

.appBody {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 600px;
  height: 500px;
  border: 3px dotted rgba(0, 0, 0, 0.678);
  text-align: center;
}
.appBody img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appBody.active {
  border: 3px solid rgb(40, 176, 40);
}
.icon {
  margin-top: 50px;
  margin-bottom: 20px;
}
.icon i {
  font-size: 100px;
  color: green;
  opacity: 60%;
}
.appBody h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.appBody span {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.appBody button {
  border: none;
  color: green;
  background-color: white;
  font-size: 22px;
  cursor: pointer;
  font-weight: 600;
}
