* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav li:first-child {
  margin-right: auto;
  border: none;
}
nav li:first-child:hover {
  border: none;
}
nav a {
  padding: 0px 30px;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px 10px;
  transition: 0.5s ease;
}
nav a:hover {
  border: 2px solid red;
}
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.532);
  backdrop-filter: blur(10px);
  justify-content: flex-start;
  align-items: flex-start;
}
.menu {
  display: none;
}

/* FIRST SECTION CODE START  */
#first-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("photo/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.parent-first-sec {
  text-align: center;
  padding-top: 150px;
  color: white;
}
.parent-first-sec h4 {
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.parent-first-sec h2 {
  font-size: 80px;
  padding-top: 20px;
}

/* SECOND SECTION CODE START  */
#second-section {
  background-color: white;
  text-align: center;
  padding: 50px 30px;
}
#second-section h2 {
  padding-bottom: 30px;
  font-size: 35px;
}
.parent-second-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.single-second {
  background-color: #7d27f5;
  padding: 20px 30px;
  height: 250px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
}
.single-second:hover {
  background-color: #27bbf5;
}
.single-second i {
  margin-top: 40px;
  font-size: 30px;
  padding: 20px 0;
}
.single-second p {
  font-size: 30px;
  padding-bottom: 20px;
}

/* THIRD SECTION CODE START  */
#third-section {
  margin: 100px 0;
}
.skills {
  color: crimson;
  font-size: 35px;
}
.parent-third-sec {
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
}
.single-third-div img {
  max-width: 800px;
  width: 95%;
}
.single-third-div h3 {
  font-size: 30px;
  padding: 20px 0;
  line-height: 45px;
}
.single-third-div p {
  padding-bottom: 20px;
  font-weight: 200;
}
.single-third-div ul li {
  list-style-position: inside;
  padding: 7px 0;
  cursor: pointer;
}

/* FOURTH SECTION  CODE START  */
#fourth-section {
  background-color: rgb(24, 43, 64);
  color: white;
  padding-top: 100px;
  padding-bottom: 70px;
}
.parent-contact {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.single-contact-two input {
  display: block;
  margin: 15px 0;
  font-size: 20px;
  padding: 15px 10px;
  width: 400px;
  border-radius: 15px;
  border: none;
}
.single-contact-two textarea {
  width: 400px;
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 15px;
  border: none;
}
.single-contact h3 {
  font-size: 40px;
  padding: 20px 0;
}
.single-contact h5 {
  padding-bottom: 20px;
  letter-spacing: 1px;
}
.single-contact p {
  max-width: 500px;
  width: 90%;
  line-height: 30px;
  font-size: 19px;
  padding-bottom: 20px;
}
.single-contact h6 {
  padding: 20px 0;
  font-size: 20px;
}
.submit {
  display: block;
  padding: 15px 25px;
  margin: 15px 0;
  font-size: 23px;
  cursor: pointer;
  background-color: crimson;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.5s ease;
}
.submit:hover {
  background-color: rgb(164, 16, 45);
}
.us {
  color: rgb(241, 29, 72);
}

/* FOOTER SECTION CODE START  */
footer {
  background-color: #555ea4;
  color: #ffffffba;
  padding: 80px 0px;
  text-align: center;
}
.parent-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.single-footer h3 {
  padding: 20px 0;
  letter-spacing: 2px;
}
.single-footer h5 {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  max-width: 150px;
  width: 90%;
  margin: auto;
  transition: 0.4s;
}
.single-footer h5:hover {
  border-bottom: 2px solid crimson;
}
.single-footer p {
  line-height: 27px;
}

/* RESPONSIVE CODE START  */
@media (max-width: 800px) {
  .menu {
    display: block;
    padding: 10px;
  }
  .hideOnmobile {
    display: none;
  }
}

@media (max-width: 599px) {
  .sideBar {
    width: 100%;
  }

  /* FIRST SECTION RESPONSIVE CODE START  */
  #first-section {
    background-position: center center;
  }
  .parent-first-sec {
    padding-top: 430px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .parent-first-sec h4 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  .parent-first-sec h2 {
    font-size: 40px;
    padding-top: 20px;
  }
  nav ul li a {
    font-size: 20px;
  }

  /* SECOND SECTION RESPONSIVE CODE START  */

  #second-section {
    background-color: white;
    text-align: center;
    padding: 40px 20px;
  }

  .parent-second-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .single-second {
    padding: 20px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
  }

  /* THIRD SECTION RESPONSIVE CODE START  */

  .parent-third-sec {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  /* FOURTH SECTION RESPONSIVE CODE START  */
  .parent-contact {
    display: block;

    margin-left: 20px;
    margin-right: 20px;
  }

  .single-contact-two input {
    width: 300px;
  }
  .single-contact-two textarea {
    width: 300px;
  }
  /* FOOTER SECTION RESPONSIVE CODE START  */
  .parent-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
