* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: #ffffff;
  box-shadow: 0px 2.78428px 5.56856px rgba(171, 190, 209, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 35px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0px 15px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #4d4d4d;
}
.RNBtn button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #4caf4f;
  border-radius: 2.78428px;
  border: none;
  padding: 15px 30px;
  margin-right: 20px;
}
