* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("img/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgb(220, 214, 214);
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav li:first-child {
  margin-right: auto;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font: 20px;
  height: 100%;
  transition: 0.4s;
}
nav ul li a:hover {
  background-color: aqua;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.372);
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
