* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url("photo/bg-pppp.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: white;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  padding: 0px 30px;
  color: black;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav a:hover {
  background-color: #f0f0f0;
}

.sideBar {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.372);
  backdrop-filter: blur(10px);
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}
.menuBar {
  display: none;
}

/* FIRST SECTION CODE START  */

/* RESPONSIVE CODE START  */

@media (max-width: 800px) {
  .menuBar {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
}
@media (max-width: 400px) {
  .sideBar {
    width: 100%;
  }
  /* FIRST SECTION RESPONSIVE CODE START  */
}
