* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(19, 74, 74);
}
nav ul {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}
nav ul li {
  list-style: none;
  display: flex;
  height: 70px;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  padding: 0px 30px;
}
.moreBtn {
  background-color: crimson;
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 8px 30px;
  transition: 0.3s ease;
}
.moreBtn:hover {
  background-color: rgb(53, 220, 20);
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: darkmagenta;
}

.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}
.sideBar a:hover {
  background-color: aqua;
}
