* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY CODE  */

body {
  background: linear-gradient(to right, #e2d1f0, #e6e9f8, #f5e3f0);
}

/* NAVBAR CODE START  */

nav {
  background-color: aqua;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a {
  text-decoration: none;
  padding: 0px 30px;
  color: black;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  background-color: rgb(14, 186, 186);
}

/* SIDEBAR CODE -  */
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: cornflowerblue;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}

#openSideBar {
  display: none;
}

.menuHide {
  display: block;
}

/* RESPONSIVE CODE START  */

/* All Mobile Devices */
@media (max-width: 767px) {
  /* NAVBAR RESPONSIVE CODE START  */

  #openSideBar {
    display: block;
  }
  .sideBar {
    width: 100%;
  }
  .menuHide {
    display: none;
  }
  /* NAVBAR RESPONSIVE CODE END  */
}

/* All Tablet Devices */
@media (min-width: 768px) and (max-width: 1024px) {
  /* NAVBAR RESPONSIVE CODE START  */

  #openSideBar {
    display: block;
  }
  .menuHide {
    display: none;
  }

  /* NAVBAR RESPONSIVE CODE END  */
}
