* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY CODE  */

body {
  background: linear-gradient(to right, #e2d1f0, #e6e9f8, #f5e3f0);
  height: 100vh;
  background-size: cover;
}

/* NAVBAR CODE START  */

nav {
  background: linear-gradient(to right, #e2d1f0, #e6e9f8, #f5e3f0);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a {
  text-decoration: none;
  padding: 0px 30px;
  color: black;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  background-color: #d4bbeb;
}

/* SIDEBAR CODE -  */
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background: linear-gradient(to right, #e2d1f0, #e6e9f8, #f5e3f0);
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}

#openSideBar {
  display: none;
}

.menuHide {
  display: block;
}

/* SECTION - 1 CODE START  */
#section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0px 100px;
}
.titleMain {
  padding: 30px 0px;
  font-size: 60px;
  font-weight: 600;
}
.parentSec2 {
  max-width: 500px;
}
.parentSec2 img {
  width: 100%;
}
.paraSec1 {
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 30px;
}
#SearchCourseBtn {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family:
    "Inter UI",
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* RESPONSIVE CODE START  */

/* All Mobile Devices */
@media (max-width: 767px) {
  /* NAVBAR RESPONSIVE CODE START  */

  #openSideBar {
    display: block;
  }
  .sideBar {
    width: 100%;
  }
  .menuHide {
    display: none;
  }
  /* SECTION - 1 CODE START  */
  .titleMain {
    font-size: 40px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* All Tablet Devices */
@media (min-width: 768px) and (max-width: 1024px) {
  /* NAVBAR RESPONSIVE CODE START  */

  #openSideBar {
    display: block;
  }
  .menuHide {
    display: none;
  }
  /* SECTION - 1 CODE START  */
  .titleMain {
    font-size: 50px;
  }
}
