* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: aqua;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a {
  text-decoration: none;
  padding: 0px 30px;
  color: black;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  background-color: rgb(14, 186, 186);
}
