body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parentDiv {
  background-color: white;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Display {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  background-color: deeppink;
  color: #fff;
  padding: 15px 30px;
  width: 250px;
  text-align: center;
}
#click_Me {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}
