* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #59bef0;
}
nav {
  background-color: whitesmoke;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  display: none;
  flex-direction: column;
  z-index: 999;
  justify-content: flex-start;
  align-items: flex-start;
}
