* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

nav {
  background-color: whitesmoke;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.sideBar a {
  width: 100%;
}
nav {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

body {
  padding-top: 60px;
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  display: none;
  flex-direction: column;
  z-index: 999;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}

.menuHide {
  display: none;
}
.myHome {
  font-size: 25px;
  font-weight: bold;
}
/* FIST SECTION CODE START  */
#first {
  min-height: 100vh;
  background-color: #59bef0;
}
.parent-first-div {
  text-align: center;
  padding: 150px 50px 70px 50px;
}
.parent-first-div h2 {
  color: white;
  font-size: 40px;
  padding: 20px 0;
}
.parent-first-div p {
  font-size: 25px;
  color: rgb(214, 223, 231);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.parent-first-div a button {
  font-size: 20px;
  padding: 15px 30px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}
.parent-first-div a button:hover {
  background-color: rgba(240, 233, 233, 0.89);
}
/* SECOND SECTION CODE START  */
#second {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: beige;
}
#second h2 {
  font-size: 40px;
  padding-top: 30px;
}
.parent-second-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 60px 0;
  margin: 0px 100px;
}
.single-second:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-second {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  transition: 0.4s;
}
.single-second i {
  padding: 20px 0;
  font-size: 30px;
  color: #16a3e9;
}
.single-second h3 {
  font-size: 25px;
  padding-bottom: 20px;
}
.single-second p {
  padding-bottom: 20px;
  font-size: 18px;
}

/* THIRD SECTION CODE START  */
#third {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: azure;
}
.parent-third-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 60px 0;
  margin: 0px 100px;
}
#third h2 {
  font-size: 37px;
  padding-top: 30px;
}
.single-third {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.single-third:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.single-third h3 {
  padding: 20px 0;
  font-size: 25px;
}
.single-third p {
  padding-bottom: 20px;
}
.single-fourth {
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.single-fourth:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.single-fourth p {
  font-size: 20px;
  padding: 40px 0;
}
.sf-1 {
  background-color: #d3ff73;
}
.sf-2 {
  background-color: #73e3ff;
}
.sf-3 {
  background-color: #ff73c9;
}
.sf-4 {
  background-color: #73ff7f;
}

/* FOURTH SECTION CODE START  */
#fourth {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: whitesmoke;
}
.parent-fourth-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 70px 0;
  margin: 0px 100px;
}

/* RESPONSIVE CODE START  */

/* Mobile devices (portrait) */
@media only screen and (max-width: 600px) {
  .menuHide {
    display: block;
  }
  .sideBar {
    width: 100%;
  }
  .hideOnMobileTab {
    display: none;
  }
  .parent-second-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    margin: 0px 30px;
  }
  .parent-third-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    margin: 0px 30px;
  }
  .parent-fourth-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 0;
    grid-gap: 10px;
    margin: 0px 20px;
  }
}

/* Tablets (landscape or portrait) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .menuHide {
    display: block;
  }
  .hideOnMobileTab {
    display: none;
  }
  .parent-first-div {
    padding-top: 300px;
  }
  .parent-second-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    margin: 0px 70px;
  }
  .parent-third-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    margin: 0px 70px;
  }
  .parent-fourth-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 0;
    margin: 0px 50px;
  }
}
