* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #59bef0;
}
nav {
  background-color: whitesmoke;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 50px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  text-decoration: none;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  display: none;
  flex-direction: column;
  z-index: 999;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: a;
}
.menuHide {
  display: none;
}
.myHome {
  font-size: 25px;
  font-weight: bold;
}
/* FIST SECTION CODE START  */
.parent-first-div {
  text-align: center;
  padding: 150px 50px 70px 50px;
}
.parent-first-div h2 {
  color: white;
  font-size: 40px;
  padding: 20px 0;
}
.parent-first-div p {
  font-size: 25px;
  color: rgb(214, 223, 231);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.parent-first-div a button {
  font-size: 20px;
  padding: 15px 30px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}
.parent-first-div a button:hover {
  background-color: rgba(240, 233, 233, 0.89);
}

/* RESPONSIVE CODE START  */

/* Mobile devices (portrait) */
@media only screen and (max-width: 600px) {
  .menuHide {
    display: block;
  }
  .hideOnMobileTab {
    display: none;
  }
}

/* Tablets (landscape or portrait) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .menuHide {
    display: block;
  }
  .hideOnMobileTab {
    display: none;
  }
}
