* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-div {
  position: relative;
  height: 250px;
  width: 98vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.733);
}
