* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.parent-div {
  position: relative;
  height: 250px;
  width: 98vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.733);
}
.photo-div {
  display: flex;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
