* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(37, 37, 105);
  color: white;
}
h1 {
  text-align: center;
  margin: 100px auto 50px;
}
form {
  max-width: 600px;
  width: 90%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgba(100, 147, 234, 0.368);
  border-radius: 10px;
}

form input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 0px 30px;
}
form button {
  padding: 0px 30px;
  height: 100%;
  background-color: crimson;
  color: white;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}
::placeholder {
  color: #fff;
  font-size: 18px;
}
#show-more-btn {
  background-color: crimson;
  color: white;
  border: 0;
  outline: 0;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}
#search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
#search-result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 600px) {
  #search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 900px) {
  #search-result {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
