* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: rgb(3, 181, 181);
}
nav h2 {
  color: white;
  cursor: pointer;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 0px 20px;
}
nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
}
.userPhoto {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
