* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url("photo/download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  background-color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  padding: 0px 30px;
  height: 70px;
  display: flex;
  align-items: center;
}
nav ul li:first-child {
  margin-right: auto;
}
.logo-r {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 10px #00ff62, 0 0 20px #00ffff, 0 0 30px #00ffbb;
  letter-spacing: 1px;
}
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}
