* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url("photo/download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  background-color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul li {
  list-style: none;
  padding: 0px 30px;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}

nav ul li:first-child {
  margin-right: auto;
  border-bottom: none;
}
.logo-r {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 10px #00ff62, 0 0 20px #00ffff, 0 0 30px #00ffbb;
  letter-spacing: 1px;
}
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
.parent-div {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 100px;
}
.single-div-two img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid rgb(7, 173, 7);
}
.single-div-one h2 {
  font-size: 45px;
  padding-bottom: 20px;
  color: #38f536;
}
.single-div-one p {
  padding-bottom: 20px;
  font-size: 20px;
}
.single-div-one a button {
  background-color: #00ff62;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 18px;
  transition: 0.5s ease;
  cursor: pointer;
}
.single-div-one a button:hover {
  background-color: #06c750;
  border: 2px solid rgb(91, 199, 91);
  color: white;
}

/* SIDEBAR CODE START  */
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.265);
  backdrop-filter: blur(10px);
  width: 250px;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100%;
}
.menu {
  display: none;
}

/* RESPONSIVE CODE START  */

@media (max-width: 800px) {
  .menu {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
  .parent-div {
    margin-left: 70px;
    margin-right: 70px;
  }
  .menu {
    padding-top: 7px;
  }
}
@media (max-width: 500px) {
  .parent-div {
    display: block;
    text-align: center;
    padding-top: 100px;
  }
  .single-div-two {
    margin-top: 50px;
  }
  .r-m-logo {
    margin-left: 50px;
  }
  .parent-div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu {
    padding-top: 6px;
  }
}
