* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#popUp {
  display: none;
  border: 2px solid rgb(14, 210, 40);
  width: 300px;
  padding: 20px 30px;
  margin-top: 25px;
}
#clickMe {
  background-color: aqua;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
