* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: aqua;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav li {
  list-style: none;
  height: 60px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  padding: 0px 30px;
  font-size: 18px;
  color: black;
}
nav a:hover {
  background-color: rgb(0, 157, 255);
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: cornflowerblue;
}
.sideBar li {
  width: 100%;
}
.sideBar a {
  width: 100;
}
.MenuBar {
  display: none;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .MenuBar {
    display: block;
  }
  .hideMenu {
    display: none;
  }
}

/* Tablets / Medium devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .MenuBar {
    display: block;
  }

  .hideMenu {
    display: none;
  }
}
