* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
}
body {
  background-color: #f1f1f1;
}
.quizApp {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translate(-50%, -50%);
  border-radius: 48px;
}
.img img {
  width: 100%;
}
.allText {
  width: 90%;
  margin: auto;
}
.allText h3 {
  margin-top: 20px;
  padding-bottom: 15px;
}

.myBtn {
  margin-left: 160px !important;
  margin-top: 2px;
  width: 60%;
}

.myBtn button {
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(27, 180, 27);
  border: none;
  outline: none;
  color: white;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 57px 0px 51px 0px;
  transition: 0.3s ease-in-out;
}
.myBtn button:hover {
  background-color: rgb(36, 211, 211);
}

/* PAGE NUMBER 2 CODE START  */

.rulesBox {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translate(-50%, -50%);
  border-radius: 48px;
}
.rulesTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
  padding: 5px 5px 15px 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.rulesList {
  width: 90%;
  margin: auto;
  padding: 10px 30px;
}
.olLi li {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0px;
}
.buttons {
  display: flex;
}
.buttons button {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(27, 180, 27);
  border: none;
  outline: none;
  color: white;
  padding: 18px 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 78px;
}
.exitBtn {
  border-radius: 0px 47px 0px 46px;
}
.exitBtn:hover {
  background-color: rgb(36, 211, 211);
}
.contiBtn {
  border-radius: 57px 0px 46px;
  margin-left: 55px;
}
.exitBtn:hover {
  background-color: rgb(36, 211, 211);
}

/* PAGE NUMBER 3 CODE START  */

.questions {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translate(-50%, -50%);
  border-radius: 48px;
}
.questionHeader {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0px 30px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.startExam {
  font-size: 15px;
  font-weight: 600;
}
.timeCount {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.timeSeconds {
  font-size: 18px;
  font-weight: 500;
  height: 26px;
  width: 45px;
  color: #fff;
  border: 5px;
  line-height: 26px;
  text-align: center;
  background: #343a40;
  user-select: none;
  border: 1px solid #343a40;
}
.time_lines {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}
.questionSection {
  padding: 25px 30px 20px 30px;
}
.textWDH {
  font-size: 25px;
  font-weight: 600;
}
.ParentTextWDH {
  margin-bottom: 15px;
}
